.video-item{
	border:solid 1px green;
	padding:5px;
}
.video-title{
	font-weight:bold;
}
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
.col-md-3:nth-child(4n+1) {
    clear: both;
}


i{
	font-size:30px;
}
@media screen and (max-device-width: 768px) {
   .col-sm-6:nth-child(2n+1) {
		clear: both;
	}
}